In [11]:
# Import libraries
import pandas as pd

# Database connector 
from sqlalchemy import create_engine

In [26]:
# MySQL connection details
username = 'root'
password = '**'
host = 'localhost'
port = '3306'  # default MySQL port
database = 'gasdb'

# Create SQLAlchemy engine for MySQL connection
engine = create_engine(f'mysql+mysqlconnector://{username}:{password}@{host}:{port}/{database}')

In [56]:
# Import csv
vector_df = pd.read_csv(r'./Data/Vector Data.csv')

# Insert data into database
# Insert DataFrame into MySQL table
table_name = 'vector'

# Insert data into the table, if the table already exists, replace the data
vector_df.to_sql(name=table_name, con=engine, if_exists='append', index=False)

print("Data inserted successfully!")

vector_df.head()

Data inserted successfully!

,ProvinceID,GeographyID,Geography,GasTypeID,VectorCode,ProvinceCode
0,1,1,"St. John's, Newfoundland and Labrador",1,v735082,NL
1,1,1,"St. John's, Newfoundland and Labrador",2,v735100,NL
2,1,1,"St. John's, Newfoundland and Labrador",3,v65584802,NL
3,2,2,"Charlottetown and Summerside, Prince Edward Is...",1,v735092,PE
4,2,2,"Charlottetown and Summerside, Prince Edward Is...",2,v735110,PE

get the province information from the vector table

In [ ]:
province_df = vector_df[['ProvinceID','Geography','ProvinceCode']]

# Get the province from the geography
province_df['Province'] = province_df['Geography'].str.split(',').str[-1].str.strip()

# Replace 'Ontario/Quebec' with 'Ontario'
province_df['Province'] = province_df['Province'].replace('Ontario/Quebec', 'Ontario')

# Drop duplicates
province = province_df[['ProvinceID','Province','ProvinceCode']].drop_duplicates()

# rename columns
province.rename(columns = {'ProvinceID':'ID','ProvinceCode':'code'}, inplace =True)

# Insert DataFrame into MySQL table
table_name = 'province'

# Insert data into the table, if the table already exists, replace the data
province.to_sql(name=table_name, con=engine, if_exists='append', index=False)

print("Data inserted successfully!")

In [64]:
province.head()

    ID                   Province code
0    1  Newfoundland and Labrador   NL
3    2       Prince Edward Island   PE
6    3                Nova Scotia   NS
9    4              New Brunswick   NB
12   5                     Quebec   QC

In [61]:
# Import 
gas_info = pd.read_csv(r'./Data/Fuel Information.csv')

# Insert DataFrame into MySQL table
table_name = 'gasinfo'

# Insert data into the table, if the table already exists, replace the data
gas_info.to_sql(name=table_name, con=engine, if_exists='append', index=False)

print("Data inserted successfully!")

gas_info.head()

Data inserted successfully!

                                             GasType  ID    Short
0  Regular unleaded gasoline at self service fill...   1  Regular
1  Premium unleaded gasoline at self service fill...   2  Premium
2       Diesel fuel at self service filling stations   3   Diesel